.addUser {
  background-color: white;
  width: 25%;
  margin: 50px auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.addUserForm .inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.addUserForm .inputGroup label {
  margin-bottom: 5px;
  font-weight: 500;
}

.addUserForm .inputGroup input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addUser h1 {
  text-align: center;
  margin-top: 5px;
  color: darkcyan;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
}
